{{#if user}}
<div class="card">
    <div class="card-body">
        <h2>{{postagem.name}}</h2>
        <hr>
        <p>{{postagem.conteudo}}</p>
        <hr>
        <small>Pertence a categoria de : {{categoria.name}}</small> <br>
        <small>Criada em : {{postagem.date}}</small>
    </div>
</div>
{{/if}}